// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 2px solid $form-element-border-color;
  padding: $form-element-padding;
  height: 42px;
  font-size: 16px;
  line-height: 38px;
  color: $dark-gray;
  display: block;
  width: 100%;
  margin: 0 0 11px;
  background: $white;
  box-shadow: inset 0 3px 3px -2px rgba(#d7d7d7, 0.5);

  &:focus {
    border-color: $form-element-focus-border-color;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  @extend %transition;
  font: 700 16px/42px $support-font-sans-serif;
  color: $white;
  background: $light-blue;
  border-radius: 4px;
  border: 0;
  padding: 2px 15px;
  height: 46px;
  box-shadow: inset 0 -3px 0 0 #0076cf;
  width: 186px;

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 -3px 0 0 #f14212;
    background: $orange;
  }
}

.account-form {
  max-width: 348px;
}