// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$light-gray: #f6f6f6;
$gray: #666;
$dark-gray: #333;
$white: #fff;
$light-blue: #0091ff;
$orange: #ff5b02;

$base-font-sans-serif: 'source_sans_pro', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$support-font-sans-serif: 'open_sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$icons-font: 'FontAwesome';

// Body
$base-text-color: $dark-gray !default;
$base-background-color: $light-gray !default;
$base-font-size: 15px !default;
$base-line-height: 1.6 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $orange;

// Buttons 
$btn-color: $white !default;
$btn-background: $light-blue !default;
$btn-padding: 13px 11px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: 2px 11px !default;
$form-element-border-color: darken(saturate(adjust-hue($light-gray, 0.0000), 0.0000), 5.0980) !default;
$form-element-focus-border-color: $light-blue !default;
$placeholder-color: darken(saturate(adjust-hue($light-gray, 0.0000), 0.0000), 23.1373) !default;

// Headers
$h1-font-size: 46px !default;
$h1-line-height: 52px !default;
$h2-font-size: 38px !default;
$h2-line-height: 42px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: $orange !default;

$animation-speed: 0.3s;