#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	background: rgba($black, .8);
	z-index: 2;
}

.logo {
	float: left;
	margin: 1px 0 0 83px;

	a {
		display: block;
	}

	img {
		display: block;
	}

	@include breakpoint($tablet) {
		margin: 0;			
	}

	@include breakpoint($mobile) {
		width: 150px;
	}
}

.by {
	float: right;
	font-size: 16px;
	font-weight: 400;
	color: $gray;

	@include breakpoint($mobile) {
		font-size: 12px;
	}

	a {
		&:hover {
			color: $white;
		}
	}
}