<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-273847-13"></script>
  <script>window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-273847-13');
    </script>
  <title>{{ site.title }}</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Open Source Sustainer, Maintainer & Contributor">
  <meta name="author" content="Justin Dorfman">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#4f9d49">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#4CAF50">
  <meta name="referrer" content="origin">
  <meta name="robots" content="nofollow">
  <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
  <link rel="dns-prefetch" href="https://code.jquery.com/">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- Global CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Plugins CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/styles-4.min.css">
</head>
