<header class="header">
    <div class="top-bar container-fluid">
        <div class="actions">
            <a class="btn-yellow d-none d-md-inline-block"
                href="https://tncc-newsletter.com/" target="_blank"><i
                    class="fa fa-newspaper-o" aria-hidden="true"></i> Newsletter</a>
            <a class="btn d-none d-md-inline-block"
                href="mailto:&#106;&#117;&#115;&#116;&#105;&#110;&#100;&#111;&#114;&#102;&#109;&#097;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"><i
                    class="fa fa-paper-plane" aria-hidden="true"></i> Contact</a>
        </div>
        <ul class="social list-inline">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/justindorfman" target="_blank"
                    rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/jdorfman" target="_blank"
                    rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/jdorfman" target="_blank"
                    rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://medium.com/@jdorfman" target="_blank"
                    rel="noopener noreferrer"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://news.ycombinator.com/user?id=jdorfman" target="_blank"
                    rel="noopener noreferrer"><i class="fa fa-hacker-news" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="intro">
        <div class="container text-center">
            <img class="profile-image" src="assets/images/profile-late-2018.png" alt="Justin Dorfman">
            <h1 class="name">Justin Dorfman</h1>
            <div class="title">Open Source Sustainer</div>

            <div class="profile">
                <details>
                    <summary>
                        Bio
                    </summary>
                    <p>Justin Dorfman is <a href="https://about.sourcegraph.com/" target="_blank"
                            rel="noopener noreferrer">Sourcegraph</a>'s Open Source Program Manager and is responsible for
                        fostering the adoption of universal code search in the open source community. Previously, he led similar initiatives for Curiefense (a CNCF project), Gitcoin, & MaxCDN.</p>
                    <p>Justin has contributed to Bootstrap, Font Awesome, jQuery, Nginx, GNU Bash, Zsh, and many more. He
                        also serves on the Selection Committee for Mozilla's Open Source Support (<a
                            href="https://www.mozilla.org/en-US/moss/" target="_blank"
                            rel="noopener noreferrer">MOSS</a>) program, as well as the <a
                            href="https://opencollective.com/opensource" target="_blank" rel="noopener noreferrer">Open
                            Source Collective</a>'s board of directors. In 2017, he co-founded SustainOSS, which hosts
                        <a href="https://sustainoss.org/events/" target="_blank" rel="noopener noreferrer">events</a>
                        and <a href="https://podcast.sustainoss.org/" target="_blank"
                            rel="noopener noreferrer">podcasts</a> for Open Source Software Sustainers.</p>
                </details>
            </div>
        </div>
    </div>
</header>