<section id="skills-section" class="skills-section section text-center">
    <h2 class="section-title">Interests</h2>

    <div class="other-skills">
        <h3 class="subtitle">Things he talks about on/offline</h3>
        <div class="misc-skills">
            {%- for interest in site.data.interests -%}
                <span class="skill-tag"><a href="{{ interest.url }}" rel="noopener" target="_blank">{{ interest.name }}</a></span>
            {%- endfor -%}
        </div>
    </div><!--//other-skills-->

</section><!--//skills-section-->
