<section id="portfolio-section" class="portfolio-section section">
  <h2 class="section-title">Media</h2>
  <ul id="filters" class="filters clearfix">
    <li class="type active" data-filter="*">All</li>
    <li class="type" data-filter=".talks">Talks</li>
    <li class="type" data-filter=".articles">Articles</li>
    <li class="type" data-filter=".podcasts">Podcasts</li>
  </ul>
  <!--//filters-->
  <div class="items-wrapper isotope row">

{%- for media in site.data.portfolio -%}
    <div class="item {{ media.item }} col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="{{ media.img }}" alt="{{ media.alt }}" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="{{ media.url }}" target="_blank" rel="noopener noreferrer">{{ media.title }}</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ media.map }}</div>
          <br>
          <div class="meta"><i class="fa fa-{{media.icon}}" aria-hidden="true"></i> <a href="{{ media.url }}" target="_blank" rel="noopener noreferrer">{{ media.verb }}</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
{%- endfor -%}


    <div class="item talks col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/past-talks_all-things-open-2016.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="https://allthingsopen.org/2016/" target="_blank" rel="noopener noreferrer">All Things Open 2016</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> Raleigh, NC</div>
          <br>
          <div class="meta"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> <a href="https://speakerdeck.com/jdorfman/open-source-is-people" target="_blank" rel="noopener noreferrer">View</a></div>
          <!-- <div class="action"><a href="#">View on Github</a></div> -->
        </div>
        <!--//content-->
        <!--  -->
      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->
    <div class="item talks col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/past-talks_os-bridge-2016.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="http://opensourcebridge.org/sessions/1695">OS Bridge 2016</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> Portland, OR</div>
          <br>
          <div class="meta"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="http://opensourcebridge.org/sessions/1695" target="_blank" rel="noopener noreferrer">Info</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->

    <!-- 04-12-16-->
    <div class="item articles col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/blog/SRI-in-your-build-process.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="https://hacks.mozilla.org/2016/04/how-to-implement-sri-into-your-build-process/">How to implement SRI in your build process</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> hacks.mozilla.org</div>
          <br>
          <div class="meta"><i class="fa fa-book" aria-hidden="true"></i> <a href="https://hacks.mozilla.org/2016/04/how-to-implement-sri-into-your-build-process/" target="_blank" rel="noopener noreferrer">Read</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->

    <!-- 05/19/2016 -->
    <div class="item talks col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/past-talks_oscon-2016.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="https://conferences.oreilly.com/oscon/oscon-tx-2016/public/schedule/detail/48446" target="_blank" rel="noopener noreferrer">OSCON 2016</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> Austin, TX</div>
          <br>
          <div class="meta"><i class="fa fa-youtube-play" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=6jiIeTwDKhs" target="_blank" rel="noopener noreferrer">Watch</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->
    <div class="item talks col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/past-talks_gh-sat-ams-2016.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="https://github.com/blog/2175-mission-report-github-satellite" target="_blank" rel="noopener noreferrer">GitHub Satellite 2016</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> Amsterdam</div>
          <br>
          <div class="meta"><i class="fa fa-youtube-play" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=lJVrKhrsHvU" target="_blank" rel="noopener noreferrer">Watch</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->

    <!-- 13 Dec 2016 -->
    <div class="item articles col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/blog/new-bash-logo.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="https://opensource.com/article/16/12/bash-logo-community" target="_blank" rel="noopener noreferrer">How 30k people helped pick the new Bash logo</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> opensource.com</div>
          <br>
          <div class="meta"><i class="fa fa-book" aria-hidden="true"></i> <a href="https://opensource.com/article/16/12/bash-logo-community" target="_blank" rel="noopener noreferrer">Read</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->

    <div class="item articles col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/blog/s3-vs-cdn.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="http://jdorfman.posthaven.com/medium-bitcoin-660x493-dot-jpg-cdn-vs-s3" target="_blank" rel="noopener noreferrer">S3 is not a CDN</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> jdorfman.posthaven.com</div>
          <br>
          <div class="meta"><i class="fa fa-book" aria-hidden="true"></i> <a href="http://jdorfman.posthaven.com/medium-bitcoin-660x493-dot-jpg-cdn-vs-s3" target="_blank" rel="noopener noreferrer">Read</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->

    <div class="item talks col-lg-3 col-6">
      <div class="item-inner">
        <figure class="figure">
          <img class="img-fluid" src="assets/images/past-talks_la-wordcamp-2011.jpg" alt="" />
        </figure>
        <div class="content text-left">
          <h3 class="sub-title"><a href="https://2011.la.wordcamp.org/justin-dorfmans-slides/" target="_blank" rel="noopener noreferrer">WordCamp LA 2011</a></h3>
          <div class="meta"><i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA</div>
          <br>
          <div class="meta"><i class="fa fa-youtube-play" aria-hidden="true"></i> <a href="https://wordpress.tv/2011/10/29/justin-dorfman-information-architecture/" target="_blank" rel="noopener noreferrer">Watch</a></div>
        </div>
        <!--//content-->

      </div>
      <!--//item-inner-->
    </div>
    <!--//item-->

  </div>
  <!--//item-wrapper-->

</section>
<!--//section-->
