#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0 14px;
  background: rgba($white, 0.9);
  z-index: 100;

  &.fixed-position {
    .btn {
      opacity: 1;
      visibility: visible;
    }
  }

  .align-left,
  .align-right {
    letter-spacing: -3px;

    > * {
      letter-spacing: 0;
    }
  }

  .align-right {
    position: relative;

    @include media('<tablet') {
      float: none;
      max-width: 100%;
      text-align: center;
    }
  }

  .btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: none;

    @include media('<tablet') {
      display: none;
    }
  }
}

.nav-bar {
  float: left;
  width: 100%;
  padding: 7px 0 0;

  @include media('<tablet') {
    @extend %transition;
    position: absolute;
    top: 100%;
    float: none;
    left: 0;
    right: 0;
    background: rgba($white, 0.9);
    opacity: 0;
    visibility: hidden;
    padding: 10px 15px;
    text-align: center;
  }

  .nav-active & {
    @include media('<tablet') {
      opacity: 1;
      visibility: visible;
    }
  }

  .holder {
    @extend %clearfix;
    margin: 0 0 0 159px;

    @include media('<tablet') {
      margin-left: 0;
    }
  }
}

.logo {
  float: left;
  margin-left: -100%;
  width: 129px;

  @include media('<tablet') {
    margin-left: 0;
  }
}

#nav {
  float: left;
  font-size: 16px;
  line-height: 20px;

  @include media('<tablet') {
    float: none;
    margin: 0 0 10px;
  }

  ul {
    @extend %listreset;
    letter-spacing: -3px;
    margin: 0 -16px;

    @include media('<tablet') {
      margin: 0;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    margin: 0 16px;

    @include media('<tablet') {
      margin: 0 0 5px;
      display: block;
    }

    &.active {
      a {
        color: $light-blue;
      }
    }
  }

  a {
    color: $dark-gray;

    &:hover {
      color: $light-blue;
    }
  }
}

.add-nav {
  font-size: 13px;
  line-height: 16px;

  .fixed-position & {
    opacity: 0;
    visibility: hidden;

    @include media('<tablet') {
      opacity: 1;
      visibility: visible;
    }
  }

  ul {
    @extend %listreset;
    letter-spacing: -2px;
    margin: 0 -7px;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px;
    letter-spacing: 0;

    &.active {
      a {
        color: $light-blue;
      }
    }
  }

  a {
    color: $gray;

    &:hover {
      color: $light-blue;
    }
  }
}

.nav-opener {
  @include media("<tablet") {
    float: right;
    width: 30px;
    height: 20px;
    position: relative;
    margin: 6px 0 0 18px;

    &:hover {
      &:before,
      &:after,
      span {
        background: $orange;
      }
    }
  }

  .nav-active & {
    &:before,
    &:after {
      transform: rotate(45deg);
      top: 50%;
      left: 0;
      right: 0;
    }

    &:after {
      transform: rotate(-45deg);
    }

    span {
      opacity: 0;
    }
  }

  &:before,
    &:after,
    span {
      @include media('<tablet') {
        @extend %transition;
        background: $light-blue;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 2px;
      }
    }

    span {
      @include media('<tablet') {
        transform: translateY(-50%);
      }
    }

    &:before {
      @include media('<tablet') {
        content: '';
        top: 0;
      }
    }

    &:after {
      @include media('<tablet') {
        content: '';
        top: auto;
        bottom: 0;
      }
    }
}